@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
}

@layer base {

  :root {
    --primary: black;
    --background: white;
  }


  [data-theme='dark'] {
    --primary: white;
    --background: black;
  }
}

body,
html {
  font-family: "Fira Code", monospace;
  background-color: var(--color-background);
  color: var(--color-primary);
}